<div class="masterList">
    <input type="button" value="Add" ng-click="addSong()"/>
    <ul class="verticalMenu">
        <li ng-repeat="song in songs" ng-class="{selected : isSelected(song)}">
            <label class="titleMaster" ng-click="openEdit(song)">{{song.Country.Title}}</label>
        </li>
    </ul>
    
</div>
<div class="detailFormView">
    <form>
        <fieldset>
            <legend>Song</legend>
            <label>Country:</label>
            <select ng-model="currentSong.Country" ng-options="country.Title for country in countries">
            <option value="" selected>--Please select your country--</option>
            </select>
            <label for="title">Title:</label>
            <input id="title" type="text" ng-model="currentSong.Title"/>
            <label>Singer:</label>
            <input type="text" ng-model="currentSong.Singer"/>
            <label>Link:</label>
            <input type="text" ng-model="currentSong.Link"/>
            <label>Final:</label>
            <input type="checkbox" ng-model="currentSong.Final"/>
            <input type="button" ng-click="delete(currentSong._id)" value = "Delete" />
            <input type="button" ng-click="update(currentSong, isNew)" value="Save"/>
        </fieldset>
    </form>
</div>