body {
    background-color: #00aedb;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

a {
    font-weight: bold;
    color: #d11141;
    text-decoration: none;
}

a:hover{
    color: #FF1300;
}

ul{
    list-style-type: none;
}

ul li{
    margin-left: -25px;
}

div[class*="wrapper"]{
    
}

.boxWrapper{
    overflow: auto;
    padding: 20px;
    background-color: white;
    border: 4px solid black !important; 
    border-radius: 4px;
    width: 70%;
    margin: 10px auto 10px auto;
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
}

.songsBoxWrapper{
    text-align: center;
    overflow: auto;
    padding: 20px;
    background-color: white;
    border: 4px solid black !important; 
    border-radius: 4px;
    width: 70%;
    margin: 10px auto 10px auto;
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
}

.fest{
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    border: 2px solid black;
    border-radius: 2px;
    width: 90%;
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: inset 0 0 10px #777777;
}

.festLogo{
    float:left; 
    width: 70%;
}

.festInfo{
    float: left;
    margin-right: 20px;
}

.ui-tabs-vertical 
{ width: 55em; }

.ui-tabs-vertical .ui-tabs-nav 
{ padding: .2em .1em .2em .2em; float: left; width: 12em; }

.ui-tabs-vertical .ui-tabs-nav li 
{ clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }

.ui-tabs-vertical .ui-tabs-nav li a 
{ display:block; }

.ui-tabs-vertical .usi-tabs-nav li.ui-tabs-active 
{ padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }

.ui-tabs-vertical .ui-tabs-panel 
{ padding: 1em; float: right; width: 39em;}